Checks: '
-*,
bugprone-unchecked-optional-access,
readability-function-size,
'

# Treat all warnings as errors
WarningsAsErrors: '*'

# Apply checks to all files
HeaderFilterRegex: '(?!^subprojects).*'

CheckOptions: []
